@import url('./variables.css');

.chats-app-flex {
    display: grid;
    grid-template-columns: 2.5fr 6fr 2fr;
}

.side-bar-grid {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

::-webkit-scrollbar {
    width: 3.4px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--app-text-color);
    border-radius: 50px;
}

.chats-msg-grid {
    display: grid;
    grid-template-rows: 1.5fr 10fr 1.5fr;
}