@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('./styles/variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Sora','Montserrat';
}

body {
    background-color: var(--app-bg-color);
    color-scheme: dark;
    color: var(--app-text-color);
}

.app-text-color {
    color: var(--app-text-color);
}
.app-bg-color {
    background-color: var(--app-bg-color);
}
.app-dark-bg-color {
    background-color: var(--app-dark-bg-color);
}
.app-dark-text-color {
    color: var(--app-dark-text-color);
}

.app-container {
   @apply container  px-10 mx-auto;
}

input {
    outline: none;
    background-color: transparent;
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px var(--app-bg-color) inset !important;
}

input:-moz-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 0 1000px var(--app-bg-color) inset !important;
}

input:-ms-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 0 1000px var(--app-bg-color) inset !important;
}
